@keyframes scroll {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%); /* End off-screen to the left */
    }
}

.animate-scroll {
    animation: scroll 20s linear infinite; /* Default duration for desktop */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .animate-scroll {
        animation: scroll 10s linear infinite; /* Duration for mobile devices */
    }
}

.overflow-hidden {
    overflow: hidden; /* Prevents text overflow outside the container */
}

/* Additional styling to prevent text wrapping */
.text-item {
    white-space: nowrap; /* Prevents text wrapping */
}
